/* Style général */
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F4F4F4; /* Couleur argentée claire */
    color: #333;
}
/* Conteneur de la page pour occuper tout l'espace disponible */
body > * {
    flex: 1; /* Force les autres éléments à occuper l'espace restant avant le footer */
}

/* En-tête transparent */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-left button, .nav-right button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.nav-left button:hover, .nav-right button:hover {
    background-color: #FFF; /* blanc en hover */
    color: #B39CD0;
}

.logo img {
    height: 100px;
}

/* Section de l'image avec texte superposé */
.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -80%);
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(123, 94, 159, 0); /* Violet sombre en transparence */
    padding: 20px;
    border-radius: 10px;
}

/* Trois blocs sur une ligne */
.three-blocks {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #F4F4F4; /* Arrière-plan argenté */
}

.block {
    width: 30%;
    background-color: #7B5E9F; /* Violet sombre */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.block:hover {
    background-color: #B39CD0; /* Mauve en hover */
    transform: translateY(-10px);
}

/* Pied de page */
footer {
    background-color: #7B5E9F; /* Violet sombre */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
